<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Add a book</h1>
    <div>
        <form th:object="${book}" th:action="@{save}" action="#" method="post">
            <label for="author">Author:</label><br>
            <input type="text" id="author" th:field="*{author}" /><br>
            <label for="title">Title:</label><br>
            <input type="text" id="title" th:field="*{title}" /><br>
            <label for="isbn">ISBN:</label><br>
            <input type="text" id="isbn" th:field="*{isbn}" /><br>
            <label for="year">Year:</label><br>
            <input type="text" id="year" th:field="*{year}" /><br>
            <br>
            <input type="submit" class="btn btn-success" value="Add"></input><br>
            <a href="/booklist" class="btn btn-danger">To listing</a><br>
            <a href="/index" class="btn btn-danger">Home</a><br>
        </form>
    </div>
</body>

</html>