<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Edit a book</h1>
    <div>
        <form th:object="${book}" th:action="@{/savebook}" action="#" method="post">
            <label for="bookId"></label>
            <input type="hidden" id="bookId" th:field="*{bookId}" class="form-control" />
            <label for="author">Author:</label><br>
            <input type="text" id="author" th:field="*{author}" /><br>
            <label for="title">Title:</label><br>
            <input type="text" id="title" th:field="*{title}" /><br>
            <label for="isbn">ISBN:</label><br>
            <input type="text" id="isbn" th:field="*{isbn}" /><br>
            <label for="year">Year:</label><br>
            <input type="text" id="year" th:field="*{year}" /><br>
            <label for="price">Price:</label><br>
            <input type="text" id="price" th:field="*{price}" /><br>
            <label for="categorylist">Category:</label>
            <select id="categorylist" th:field="*{category}" class="form-control">
                <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.name}">
                </option>
                <br>
                <input sec:authorize="hasAuthority('ADMIN')" type="submit" class="btn btn-success"
                    value="Save"></input><br>
                <br>
                <a href="/booklist" class="btn btn-danger">Back</a><br>
                <br>
                <a href="/index" class="btn btn-danger">Home</a><br>
                <br>
        </form>
    </div>
</body>

</html>