<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Welcome to the Bookstore!</h1>
    <h2>Choose from the following options:</h2>
    <br>
    <a href="/booklist" class="btn btn-success">List all books</a><br>
    <br>
    <a href="/categorylist" class="btn btn-success">List all categories</a><br>
    <br>
</body>

</html>